body {
		margin: 0;
		 background-image: url(kreska.png);
		 font-family: verdana;
		}
	
	/*#adad85*/
		#orange{
			margin-top: 5px;
			background-color: #ffcc00;
			height: 100px;
			font-family: arial black;
			font-size: 4em;
			text-align: right;
			padding-right:20px;
			border-top: solid 3px #adad85;
			border-bottom: solid 3px #adad85;
		}
		
		#container {
		width:1920px;
        padding:0;
		height: 500px;
		text-align: center;
		margin-top: 3px;
		margin-bottom:3px;
		height: auto;
		text-align: justify;
		}
		
		#nav{
			width:1920px;
			background-color: #000000;
			height: 40px;
			margin:0;
		}
		
		#content{
			margin-left: 170px;
		width: 940px;
		padding:15px;
		padding-top:5px;
		background-color: #ffffff;
		height: auto;
		min-height:480px;
		float: left;
		
			border-radius:10px;
		}
		
		#prawymargin{
			background-color: #ffffff;
			width: 245px;
			min-height: 500px;

			margin-left:4px;
			float: left;
			border-radius:10px;
		}
		
		.ribbon{
			background-color: #adad85;
			height: 3px;
		}
		
		.option{
		text-align: center;
	/*padding: 5px;*/
	height: 40px;
	float: left;
	width: 150px;
	font-size: 0.8em;
	border-right: 1px solid red;
	font-family: verdana;
	background-color: #000000;
	/*display: block;*/

		}
		
		.link_menu{

/*transform: translateY(100%);*/
	text-decoration: none;
	padding-top: 12px;
	padding-bottom:13px;
	color: red;
	display:block}
	
	div > a:hover{

/*transform: translateY(100%);*/
	text-decoration: none;
	background-color:#ffffff;
	display:block;}
	
	.czerw{
	margin: 0;
	color:red;
	font-family: Lucida Sans Unicode;
	}
	
	.data{
		font-family: courier;
		font-size: 0.7em;
	}
	
	.tresc1{
		font-family: verdana;
		font-size: 12px;
	}
	
	a {
		color: red;
		
	}
	
	.tablice{
		text-decoration: none;
		font-size: 0.8em;
	}
	
	.tab{
		margin-left: 70px;
	}
	
	.kompas{
	margin:0;
	color: red;
	font-family: verdana;
	font-size: 0.7em;
	/*margin-top:15px;*/
	}